<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eis.oa.domain.model.leave.LeaveRepository">
	<cache></cache>
	
	<resultMap type="com.eis.oa.domain.model.leave.LeaveFormEntity" id="leaveFormResult">
		<id/>
	</resultMap>
	
	<insert id="save" parameterType="com.eis.oa.domain.model.leave.LeaveFormEntity">
		insert into oa_leave(id, type, reason, applicant, startTime, endTime, createTime) 
		values(#{id}, #{type}, #{reason}, #{applicant}, #{startTime}, #{endTime}, #{createTime})
	</insert>
	
	<select id="findLeaveByPage" parameterType="hashmap" resultMap="leaveFormResult">
		select * from oa_leave where applicant = #{applicant}
	</select>
	
	<select id="findLeaveTotalCount" parameterType="hashmap" resultMap="leaveFormResult">
		select count(*) from oa_leave where applicant = #{applicant}
	</select>

</mapper>