<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eis.oa.domain.model.leave.LeaveRepository">
	<cache></cache>
	
	<insert id="save" parameterType="com.eis.oa.domain.model.leave.LeaveForm">
		insert into oa_leave(id, type, reason, applicant, startTime, endTime, createTime) 
		values(#{id}, #{type}, #{reason}, #{applicant}, #{startTime}, #{endTime}, #{createTime})
	</insert>

</mapper>