* {
	font-size: 12px;
	font-family: Tahoma, Verdana, 微软雅黑, 新宋体
}

a {
	text-decoration: none;
}

.footer {
	text-align: center;
	color: #15428B;
	margin: 0px;
	padding: 0px;
	line-height: 23px;
	font-weight: bold;
}

.head a {
	color: White;
	text-decoration: none;
}
.easyui-accordion a {
	color: #333;
}
.easyui-accordion li {
	padding: 2px 5px;
}
/*
.easyui-accordion ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.easyui-accordion ul li {
	padding: 0px;
}

.easyui-accordion ul li a {
	line-height: 24px;
}

.easyui-accordion ul li div {
	margin: 2px 0px;
	padding-left: 20px;
	padding-top: 2px;
}

.easyui-accordion ul li div:hover {
	border: 0px;
	background: #EEE;
	cursor: pointer;
}
*/
.icon {
	width: 18px;
	line-height: 18px;
	display: inline-block;
}

.deafult {
	background: url('../images/folder.png') no-repeat;
}

.nav {
	color: #333;
}

.searchbox {
	float: right;
	margin: 2px 18px;
}
/* 上传进度条 */
.bar {
	height: 18px;
	background: green;
}

.alert {
	padding: 8px 35px 8px 14px;
	margin: 10px 0px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	line-height: 18px;
}

.alert-danger,.alert-error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

/* form */
.eistable {
	margin: auto;
	width: 96%;
}

.eistable td {
	text-align: left;
}

.eistable td input {
	width: 95%;
}

.eistable tr .title {
	width: 7%;
}

.eistable td textarea {
	width: 95%;
}

fieldset {
	display: block;
	padding: 0 0 0 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #DDD;
	width: 96%;
	margin: 0px;
	margin-bottom: 10px;
}

fieldset legend {
	padding: 5px;
	font-weight: bold;
}

form {
	margin: 0px;
	padding: 0px;
}